@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

@import "./vars.css";
@import "./utils.css";
@import "./header.css";
@import "./hero.css";
@import "./media.css";

body {
    font-family: "DM Sans", sans-serif;
    background-color: var(--theme-color);
    color: var(--text-color);
    font-size: 22px;
    line-height: 1.5;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
}
a {
    text-decoration: none;
    color: inherit;
}
ul, li {
    list-style-type: none;
}
.container {
    margin: 0 auto;
    padding: 0 70px;
    max-width: 1440px;
}
