.header {
    margin: 26px 0;
}
.header .container {
    display: flex;
    justify-content: space-between;
    height: 67px;
}
.logo__img {
    display: flex;
}
.nav__list {
    display: flex;
    gap: 40px;
}
.nav__link {
    font-size: 17px; 
    line-height: 1.58824;
}
.nav__link_contact {
    font-size: 18px;
    line-height: 1.5;
}
.nav__link:hover {
    color: var(--turquoise-color);
    transition: 0.2s ease-in-out;
}
.header__button {
    display: none;
    border: none;
    background-color: var(--theme-color); /* не знал как убрать белый фон. так, что сделал так */
}
