.hero {
    margin: 40px 0 22px;
    position: relative;
}
.hero .container {   /* не знаю почему я тут так жесто тупил с отсутупами). может я тут заебался) */
    padding-left: 94px;
    padding-right: 46px;
    justify-content: space-between;
    gap: 60px;
}
.hero__item {
    position: relative;
    width: 650px;
}
.hero__item::before {        /* тут было тяжело с этими полосками. долго думал и решил через псевдокласс сделать */
    content: url(../img/logo/blue-top-stripes.svg);
    position: absolute;
    left: -25px;
    top: -25px;
}
.hero__img {
    border-radius: 12px;
    object-fit: cover;
}
.hero__content {
   margin: auto 0;
   padding-top: 163px;
   max-width: 530px;
   min-height: 610px;
}
.main-title {
    margin-bottom: 90px;
    display: inline-block;
    font-size: 70px;
    line-height: 1.25714;
    letter-spacing: 0.05em;
}
.content__title_next {
    position: relative;
    font-size: 75px;
    line-height: 1.17333;
    letter-spacing: 0.04em;
}
.content__title_bold {
    font-weight: 700;
    font-size: 80px;
    line-height: 1.1;
    letter-spacing: 0.04em;
}
.content__title_next::after {    /* я знаю, что это, скорее всего, ужасно, но других вариантов я не придумал */
    content: url(../img/logo/underline.svg);
    position: absolute;
    bottom: 55px;
    left: -2px;
    width: 120px;
    height: 11px;
}
.content__listen {
    margin-left: 22px;
}
.listen__slogan {
    margin-bottom: 16px;
    display: block;
    font-size: 15px;
    line-height: 24px;
}
.socials {
    gap: 17px;
    height: 32px;
}
/*  */
