@media (max-width: 1250px) {
    .hero .container {
        padding: 0;
        flex-direction: column;
        align-items: center;
    }
    .hero__img {
        border-radius: 0 0 12px 12px;
    }
    .hero__content {
        margin: 0;
        padding-top: 0;
        min-height: 0;
        max-width: 630px;
    }
    .main-title {
        text-align: justify;
        letter-spacing: normal;
    }
    .content__title_next::after {
        display: none;
    }
}
@media (max-width: 1200px) {
    .header__nav {
        display: none;
    }
    .burger-button {
        display: block;
    }   
}
@media (max-width: 800px) {
    .header .container {
        padding: 0 20px;
    }
    .hero__item, .hero__content {
        width: clamp(280px, 90%, 630px);
    }
    .hero .container {
        gap: 10px;
    }
    .main-title, .content__title_next, .content__title_bold {
        margin-bottom: 50px;
        font-size: 45px;
        line-height: 1.2;
    }
}
@media (max-width: 700px) {
    .hero__item::before {
        display: none;
    }
    /* .hero .container {
        gap: 8px;
    } */
    .main-title, .content__title_next, .content__title_bold {
        margin-bottom: 30px;
        font-size: 35px;
    }
}
@media (max-width: 500px) {
    .container {
        padding: 0 20px;
    }
    .main-title, .content__title_next, .content__title_bold {
        margin-bottom: 20px;
    }
}
