@media (max-width: 1250px) {
    .hero .container {
        padding: 0;
        flex-direction: column;
        align-items: center;
    }
    .hero__img {
        border-radius: 0 0 12px 12px;
    }
    .hero__content {
        margin: 0;
        padding-top: 0;
        min-height: 0;
        max-width: 630px;
    }
    .main-title {
        text-align: justify;
        letter-spacing: normal;
    }
    .content__title_next::after {
        display: none;
    }
    .episodes__item {
        flex-direction: column;
        align-items: center;
    }
    .episodes__item__img {
        width: 100%;
    }
    .episodes__content__title {
        margin-bottom: 54px;
    }
}
@media (max-width: 1200px) {
    .header__nav {
        display: none;
    }
    .burger-button {
        display: block;
    }   
}
@media (max-width: 991.98px) { /* некоторые медиа я решил сделать по популярным точкам переломов с section.episodes */
    .episodes__content__slogan {
        margin-bottom: 24px;
        font-size: 18px;
    }
    .episodes__title {
        align-self: center;
        font-size: 50px;
    }
}
@media (max-width: 800px) {
    .header .container {
        padding: 0 20px;
    }
    .hero__item, .hero__content {
        width: clamp(280px, 90%, 630px);
    }
    .hero .container {
        gap: 10px;
    }
    .main-title, .content__title_next, .content__title_bold {
        margin-bottom: 50px;
        font-size: 45px;
        line-height: 1.2;
    }
    .episodes__title {
        font-size: 35px;
    }
}
@media (max-width: 767.98px) { /* думал насчет отступов у slogan и link при адапции. остановился на значениях, которые собственно и записаны */
    .episodes .container {
        padding: 0 20px;
    }
    .episodes__wrapper {
        margin-bottom: 34px;
        flex-direction: column;
        align-items: center;
    }
    .episodes__title {
        align-self: center;
        font-size: 35px;
    }
    .button {
        font-size: 14px;
    }
    .episodes__item {
        padding: 20px;
        gap: 36px;
        border-radius: 10px;
    }
    .episodes__content__slogan {
        margin-bottom: 12px;
    }
    .episodes__content__title {
       font-size: 35px;
    }
    .episodes__content__desc {
        margin-bottom: 18px;
        font-size: 18px;
    }
}
@media (max-width: 700px) {
    .hero__item::before {
        display: none;
    }
    .main-title, .content__title_next, .content__title_bold {
        margin-bottom: 30px;
        font-size: 35px;
    }
}
@media (max-width: 575.98px) {
    .episodes__content__slogan {
        font-size: 16px;
    }
    .episodes__content__link {
        font-size: 13px;
    }
    .episodes__content__title {
        margin-bottom: 30px;
        font-size: 28px;
    }
    .episodes__content__desc {
        font-size: 16px;
    }
    .episodes__content__btn {
        font-size: 12px;
    }
}
@media (max-width: 500px) {
    .container {
        padding: 0 20px;
    }
    .hero__img {
        height: 50%;
    }
    .main-title, .content__title_next, .content__title_bold {
        margin-bottom: 20px;
    }
    .episodes__content__desc {
        font-size: 12px;
    }
}
/*  */
