/* ---------------RESET--------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ---------------/RESET--------------- */

/* ---------------BURGER--------------- */

.burger-button{
  display: grid;
  align-items: center;
  grid-template: repeat(3, 8px) / 1fr;
  position: relative;
  width: 30px;
  height: 20px;
  z-index: 10;
}
.burger-button::before, .burger-button::after{
  content: '';
  position: absolute;
  background-color: #fff;
  width: 100%;
  height: 2px;
  left: 0;
}
.burger-button::before{
  top: 0;
}
.burger-button::after{
  bottom: 0;
}
.burger-button span{
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  top: 9px;
  background-color: #fff;
}

/* ---------------/BURGER--------------- */

/* ---------------FLEX-ALIGH--------------- */

.flex-x {
  display: flex;
}
.flex-y {
  display: flex;
  flex-direction: column;
}
.center-x {
  display: flex;
  justify-content: center;
}
.center-y{
  font-display: flex;
  align-items: center;
}
.center-full {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ---------------/FLEX-ALIGH--------------- */

/* ---------------GRID--------------- */

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 16px;
}
img {
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
} 

/* ---------------/GRIDS--------------- */

