:root {
    --text-color: #fff;
    --theme-color: #191919;
    --yellow-color: #FCFF51;
    --black-color: #000;
    --dark-gray-color: #363F46;
    --turquoise-color: #118DA8;
    --orange_color: #FC7E0F;
    --green-color: #1ED760;
    --red-color: #F43E37;
}
